@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global styling */

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: clamp(1.8rem, 9vw, 3.6rem);
    font-weight: 700;
}

h2 {
    font-size: clamp(1.7rem, 8vw, 3rem);
    font-weight: 700;
}

h3 {
    font-size: clamp(1.4rem, 6vw, 2.4rem);
    font-weight: 600;
}

h4 {
    font-size: 1.1rem;
    font-weight: 600
}

h5 {
    font-size: 1rem;
    font-weight: 500;
    color: #131313
}

p {
    font-size: clamp(1rem, 3vw, 1.2rem);
}

hr {
    width: 50px;
    height: 2px;
    background-color: coral;
}

.stars i {
    font-size: 0.8rem;
    color: goldenrod;
}

button {
    padding: 0.6em 1.2em;
    font-size: clamp(0.8rem, 3vw, 1rem);
    border: 0;
    border-radius: 5px;
    color: #fff;
    background-color: #323233;
    transition: 0.3s ease;
}

button:focus {
    outline: none;
}

button:hover {
    background-color: #000;
}


/* Navbar Style */
.navbar{
    box-shadow: 0 5px 10px rgba(0,0,0,.3);
}

.navbar-light .navbar-nav .nav-item {
    transition: 0.3s ease;
    padding: 5px 10px;
}

.navbar-light .navbar-nav .nav-link:hover{
    color:coral;
}

.navbar-light .navbar-toggler .bar{
    color: #000;
}

.navbar-light .navbar-toggler {
    background-color: #fff;
}

#logo{
    max-width: 40px;
    height:40px;
    border-radius: 50%;
}

/* Home Section Style */
#home {
    background-image: url("../images/shopping.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 4%;
}

#home span {
    color: coral;
}

#home .home-content {
    width: 80%;
}

/* Product Section */
#products img, .single-card img {
    height: 280px;
    min-height: 280px;
    width: 240px;
    max-width: 240px;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.product-box {
    cursor: pointer;
}

.product-box img {
    transition: 0.3s all;
}

.product-box:hover img {
    opacity: 0.8;
}

.product-box .buy-btn {
    background-color: coral;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3s all;
}

.product-box:hover .buy-btn {
    transform: translateY(0);
    opacity: 1;
}

.single-card-box .row h5 {
    opacity: 0.7;
    font-weight: 700;
    text-transform: uppercase;
}

.single-card span a, .single-card p{
    color: #333333;
    opacity: 0.7;
    text-decoration: none;
    font-weight: 600;
}

.single-card span a{
    font-weight: 500
}

/* Footer */
footer {
    background-color: #bd2e2b;
}

 #footer-logo{
    max-width: 100px;
    height: 100px;
    border-radius: 50%;
}

footer li a, footer p{
    color: #fff;
}

footer li a:hover{
    transition: 0.1s ease;
    text-decoration: none;
    color: rgb(175, 174, 174);
}

footer h4{
    color: #343435;
    font-weight: 500;
}

.footer-box .row i{
    font-size: 1.5rem;
    color: #fff;
}

.footer-box .row i:hover{
    color: #000;
    transition: 0.1s ease;
}
